.row {
  display: table;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/* jobs */

#jobs {
  padding: 60px 0;
}

.job-list {
  margin: 40px 0 0;
}
.job-card {
  padding: 15px;
}
.job-card-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
  height: 100%;
}
.job-card-box:hover {
  background: #effaff;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #ccc;
}

h3.job-name {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0 0 15px;
}
p.job-description {
  margin: 25px 0;
  line-height: 1.5;
}
p.job-info {
  margin: 10px 0 0;
}
p.job-info i {
  color: #2bbdfd;
  display: inline-block;
  min-width: 30px;
}
button.apply-btn {
  cursor: pointer;
  background: #43baff;
  padding: 14px 30px;
  font-size: 16px;
  margin: 40px 0 0;
  border-radius: 0;
}

/* end jobs */

/* mobi */
@media all and (max-width: 991px) {
  #jobs{
    text-align: center;
    padding: 45px 3%;
  }
  .job-list{
    text-align: left;
  }
}
/* end mobi */
