/* contact field */
#contact-field {
  padding: 60px 0;
}
.company-info {
  width: 50%;
}
.customer-info {
  width: 45%;
}
.customer-info-box {
  color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(to right, #01dcfe, #6e45b3);
  font-size: 14px;
}
.customer-info-box h2.heading {
  margin: 0 0 15px;
}
.customer-info-box p.note {
  margin: 0 0 40px;
}
.customer-info-box input {
  display: block;
  border: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  margin: 15px 0 0;
  width: 100%;
}
.customer-info-box input::placeholder {
  color: #fff;
}
.customer-info-box textarea {
  display: block;
  border: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  margin: 15px 0;
  width: 100%;
  resize: none;
}
.customer-info-box textarea::placeholder {
  color: #fff;
}
.customer-info-box button {
  background: #FFF;
  border: none;
  border-radius: 0;
  color: #000;
  font-weight: bold;
}
/* end contact field */
