@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
}

a {
  color: inherit;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.container,
.container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1400px;
}

/* loading */
.fade {
  animation: fadeout 0.5s linear forwards;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  background-color: #fff;
  z-index: 100;
  /* display: none; */
}
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #211f3b;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loading */

/* header */

.header-info {
  padding: 15px 3%;
  background: #272346;
  color: #b5b5b5;
  font-size: 14px;
  display: none !important;
}
.header-info-left {
  gap: 20px;
}
.header-info-left p i {
  margin: 0 10px 0 0;
  color: #fff;
}
.header-info-right {
  gap: 20px;
}
.header-info-right a {
  color: #43baff;
  font-weight: bold;
}

.header-content {
  background: #0e0a31;
  color: #fff;
  padding: 0 3%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #aaa;
  z-index: 99;
}
img#company-logo {
  width: 150px;
}
ul.header-content-menu {
  gap: 15px;
  margin: 0;
}
li.header-content-menu-item {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 30px;
  position: relative;
  cursor: pointer;
}
li.head-menu-icon {
  padding: 30px 5px;
}
li.header-content-menu-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #43baff;
  transition: 0.4s;
}
li.header-content-menu-item:hover {
  color: #43baff;
}
li.header-content-menu-item:hover::after {
  width: 100%;
}

li.header-content-menu-item:hover ul.header-dropdown {
  display: flex;
}

ul.header-dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  color: #242021;
  width: 100%;
  background: #fff;
  font-weight: bold;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  display: none;
  padding: 20px;
}

li.header-dropdown-item {
  line-height: 1.2;
  list-style: none;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
li.header-dropdown-item span {
  margin: 0;
}
li.header-dropdown-item:hover {
  color: #43baff;
}
.header-function {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header-search {
  width: 300px;
  position: relative;
}

input.search-input {
  padding: 10px 64px 10px 20px;
  width: 100%;
  outline: none;
  background: #37325a;
  color: #fff;
  border: none;
}

input.search-input::placeholder {
  color: #fff;
}
.header-search .search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 44px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  background: #43baff;
}

.languages {
  margin: 0;
}
.languages img {
  width: 30px;
  border: 1px solid #fff;
  cursor: pointer;
}
/* end header */

/* banner */
section#banner {
  background: url(../assets/images/home/bg-banner-home5.png) #0e0a31 no-repeat;
  height: 600px;
  color: #fff;
  background-position: bottom left;
  background-size: 100% auto;
  padding: 40px 3%;
}
.banner-text {
  width: 50%;
  line-height: 1.4;
}
.banner-text h3.title {
  font-size: 24px;
}
.banner-text h1.main-heading {
  font-size: 70px;
  font-weight: 900;
  margin: 25px 0;
  line-height: 1.1;
}
.banner-text p.banner-quote {
  font-size: 18px;
}
.banner-image {
  width: 45%;
}

/* end banner */

/* side banner */
section#side-banner {
  background: url(../assets/images/home/bg-banner-home5.png) #0e0a31 no-repeat;
  height: 300px;
  color: #fff;
  background-position: bottom left;
  background-size: 100% auto;
  padding: 40px 3%;
}
.side-banner-text {
  width: 50%;
  line-height: 1.4;
}
.side-banner-text h1.main-heading {
  font-size: 60px;
  font-weight: 900;
  margin: 25px 0;
  line-height: 1.1;
}
.side-banner-text p.banner-quote {
  font-size: 18px;
}
.side-banner-link {
  width: 30%;
  text-align: right;
}
.side-banner-link h3.title {
  font-size: 18px;
  color: #aeaacb;
}
.side-banner-link h3.title .current-page {
  color: #fff;
}
.side-banner-link h3.title i {
  color: #43baff;
  margin: 0 3px;
}
.side-banner-link h3.title a:hover {
  color: #fff;
}

/* end side banner */

/* footer */
footer.footer {
  background: #201d3c;
  color: #fff;
  padding: 80px 3% 50px;
  padding: 0 3% 40px;
}

.footer-menu {
  margin: 0;
  display: none !important;
}
.footer-menu-column {
  margin: 0;
  width: 23%;
}
.footer-menu-column h3.element {
  font-size: 20px;
  font-weight: 700;
}
.footer-menu-column ul {
  margin: 20px 0 0;
}
.footer-menu-column ul li {
  list-style: none;
  margin: 0 0 10px;
  font-size: 16px;
  color: #aeaacb;
}
.footer-menu-column ul li:hover {
  cursor: pointer;
  color: #fff;
}
.footer-menu-column p {
  margin: 20px 0;
  line-height: 1.4;
}
.footer-menu-column .customer-email {
  width: 90%;
  position: relative;
}
.footer-menu-column .customer-email input {
  padding: 10px 64px 10px 20px;
  width: 100%;
  outline: none;
  background: #37325a;
  color: #fff;
  border: none;
}
.footer-menu-column .customer-email input::placeholder {
  color: #fff;
}
.footer-menu-column .customer-email button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 44px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  background: #43baff;
}
.footer-end {
  margin: 40px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid #fff;

  margin: 0 0 0;
  border: none;
}
/* end footer */

/* global css */

p.title {
  color: #7141b1;
  font-size: 14px;
  font-weight: bold;
}
h2.heading {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.3;
  margin: 10px 0 30px;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 20px;
}


/* 26/12/2023 */

/* Mobi menu button */
.mobi-menu-button {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #43baff;
  margin: 6px 0;
  transition: 0.4s;
}

.animate .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.animate .bar2 {
  opacity: 0;
}

.animate .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Mobi menu */

.mobi-menu {
  display: none;
}

@media all and (max-width: 991px) {
  .mobi-menu {
    display: block;
  }
  ul.header-content-menu {
    display: none !important;
  }
  .header-content {
    padding: 20px 3%;
    height: 80px;
  }
  ul.mobi-dropdown {
    border-top: 2px solid #43baff;
    list-style: none;
    position: absolute;
    top: 80px;
    width: 100%;
    right: 0;
    background: #0d0b30;
    color: #fff;
    transition: 0.5s;
    z-index: 2;
    display: none;
  }
  li.mobi-dropdown-item {
    margin: 0;
    padding: 10px 3%;
    text-align: right;
    border-bottom: 1px solid #43baff;
    font-weight: bold;
  }
  .mobi-menu-toggle {
    display: block !important;
  }

 

}

@media all and (max-width: 576px){
  .side-banner-text{
    width: 100%;
    text-align: center;
  }
  .side-banner-link{
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
  }
}

@media all and (max-width: 575px) {
  .achievement-image-mobi {
    order: 0;
  }
  footer.footer{
    padding: 0 3% 20px;
  }
  .footer-end{
    padding: 20px 0 0;
    gap: 20px;
  }
}

@media all and (max-width: 425px){
  .banner-text h1.main-heading {
    font-size: 35px;
  }
}

/* End Mobi menu */
